VITE_SUPABASE_URL=https://usqttfofwuddchxcvcxq.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_IyW84J1dVz9QRdIUeL4V0A_3ZEaZR40
QRZ_USERNAME=
QRZ_PASSWORD=
HAMQTH_USERNAME=VK3CHA
HAMQTH_PASSWORD=ewx3xEx2bK77jju
